.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.container-centre {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "gauche droite";
  width: 100%;
  height: 30%;
}

.container-droit {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: droite;
}
.container-gauche {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  grid-area: gauche;
}

.barre-centrale-verticale {
  width: 6px;
  height: 7em;
  background-color: #D7D6D8;
  border-radius: 4px;
  margin-right: 4%;
}

.barre-centrale-horizontale {
  background-color: #D7D6D8;
  border-radius: 4px;
  width: 140px;
  height: 4px;
  display: none;
}

.download-link {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 1;
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, a {
  font-family: 'Montserrat', sans-serif;
  color: #D7D6D8;
  text-decoration: none;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: lighter;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 32px;
}

.container-gauche h1 {
  font-weight: lighter;
  text-align: right;
}

.container-droit h1 {
  text-align: left;
}

@media screen and (max-width: 1400px)
{
  h1 {font-size: 24px;
  }
  .barre-centrale-verticale {
  height: 5.4em;
  }
  h2 {
  font-size: 16px;
  }
}

@media screen and (max-width: 1000px)
{
  h1 {font-size: 20px;
  }
  .barre-centrale-verticale {
  height: 4.4em;
  }
  h2 {
  font-size: 14px;
  }
}

@media screen and (max-width: 700px)
{
  h1 {font-size: 16px;
  }
  .barre-centrale-verticale {
  height: 3.4em;
  width: 4px;
  }
  h2 {
  font-size: 12px;
  }
}

@media screen and (max-width: 600px)
{
  .container-centre {
    grid-template-columns: 100%;
    grid-template-rows: 50% 40% 10%;
    height: 50%;
    grid-template-areas: "haut" "milieu" "bas";
  }
  .container-droit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-area: haut;
    flex-direction: column;
  }
  .container-gauche {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: 10%;
    grid-area: milieu;
    padding: 0px;
  }
  .download-link {
    grid-area: bas;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }


  .barre-centrale-verticale {
    display: none;
  }
  .barre-centrale-horizontale {
    display: block;
  }
  .container-gauche h1 {
    text-align: center;
  }
  .container-droit h1 {
    text-align: center;
  }
  h2 {
  font-size: 10px;
  }
}

